/*JavaFX CSS Reference Guide: https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html*/

.root {
    -fx-background-image: url("../images/starting_background_image.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}